<header>
	<a href="{{ path('app_home') }}" class="logo">Quai Antique</a>
	<nav>
		<ul>
			<li>Accueil</li>
			<li>contact</li>
			<li>
				<a href="{{ path('app_login') }}">connexion</a>
			</li>
			<li>
				<a href="{{ path('dish_add') }}">Ajouter plat</a>
			</li>
		</ul>
	</nav>
</header>
